.editable {
  background: transparent;
  font-weight: 600;
  width: 100%;
  line-height: 20px;
  padding: 4px 8px;
  outline: none;
  box-shadow: none;
  border: none;
  overflow: hidden;
  word-break: break-all;
  color: #172b4d;
  border-radius: 3px;
  resize: none;

  &:focus {
    overflow: hidden scroll;
  }
}