// app global css in SCSS form
@import 'components/editable';
@import 'components/drag';

.btn-bg {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-lh {
  line-height: 20px;
}

input {
  border: none;
  box-shadow: none;
  outline: none;
}

.square-border {
  border-radius: 3px;
}

.fz-sm {
  font-size: 12px;
}
.fz-md {
  font-size: 14px;
}
.fz-lg {
  font-size: 16px;
}
.fz-xl{
  font-size: 18px;
}
.text-color-1 {
  color: #5E6C84;
}

.grab > *{
  cursor: grabbing !important;
}